<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/Img/icon.png" />
    <title>Weather App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="Js/home.js"></script>
  </head>
  <body>
    <header>
      <h1>Home</h1>
      <div>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
      </div>
    </header>
    <input type="text" id="value" />
    <button id="srchBtn">Search</button>
    <footer>
      <p>Created by Sheebha</p>
    </footer>
  </body>
</html>